<span class="preheader">Use this link to generate a password. The link is only valid for 24 hours.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="email-masthead">
                <a href="<%= ENV['BRACCO_URL'] %>" class="email-masthead_name"><%= @title %></a>
              </td>
            </tr>
            <!-- Email Body -->
            <tr>
              <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <h1>Dear <%= @contact_name %>,</h1>
                      <p>The <%= @title %> account named <%= @name %> has been deleted. If this was done in error, please
                        reach out to DataCite Support and we can re-enable the <%= @name %> account.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="content-cell" align="center">
                      <p class="sub align-center">
                        DataCite
                        <br>Am Welfengarten 1B
                        <br>30167 Hannover
                        <br>Germany
                        <br><a href="mailto:support@datacite.org">support@datacite.org</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
